.gcloudignore
.git
.gitignore
node_modules/
frontend/
# data/             <-- Commented out to allow seeding from bundle
*.log
*.txt
.env
# Only need dist/ for production runtime, but Cloud Build needs src for tsc
#!include .gitignore